<ion-view view-title="Home">
  <ion-content>
    <div class='list card'>
      <div class='item item-avatar'>
        <img src='img/elliot_cropped.jpg'>
        <h2>Elliot Frost</h2>
        <p>CEO of Frostware</p>
      </div>

      <div class='item item-body'>
        <div class='row'>
          <div class='col'></div>
          <div class='col'>
            <img class='full-image' src='img/favicon.png'>
          </div>
          <div class='col'></div>
        </div>
        <p>
          The cost of road trips, the stress of long rides to your bands show, or even the dread of that family reunion you have to go to or you'll never heard the end of it from your grandma. Fuelergy is a <a href='http://frostwaresolutions.net' target='_blank'>Frostware</a> developed product that helps make the transportation there as painless as possible.
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>  
