<ion-view view-title="About">
  <ion-content>
    <div class='list card'>
      <div class='item item-avatar'>
        <img src='img/favicon.png'>
        <h2>Fuelergy</h2>
        <p>some cheesey line</p>
      </div>

      <div class='item item-body'>
        <p>
Fuelergy. Designed with the traveler in mind, our app will remove stress from road trips for good. Fueling decisions are not to be made on a whim, so Fuelergy keeps guesswork out of the equation by bringing you real time gas prices on the go. Fuelergy keeps it simple so you can enjoy the journey. Let's get there together.
        </p>
      </div>
    </div>
    <div class='list list-inset'>
      <div class='item' ng-repeat='link in links track by $index'>
        <p><a ng-click='linkClick(link)'>{{link.name}}</a></p>
      </div>
    </div>
  </ion-content>
</ion-view>  
