<ion-view view-title="Home">
  <ion-content>
    <div class='list card'>
      <div class='item item-avatar'>
        <img src='img/elliot_cropped.jpg'>
        <h2>Elliot Frost</h2>
        <p>CEO of Frostware</p>
      </div>

      <div class='item item-body'>
        <div class='row'>
          <div class='col'></div>
          <div class='col'>
            <img class='full-image' src='img/favicon.png'>
          </div>
          <div class='col'></div>
        </div>
        <p>
          We developed Fuelergy because honestly... we need it. I kept using other gas apps that either gave me inconsistent results, or I just settled for whatever I could see in front of me. We live in the technical revolution...we should have the absolute best. That's what Fuelergy is.
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>  
