<ion-view view-title="Home">
  <ion-content>
    <ion-refresher
      pull-text='Pull to Refresh...'
      on-refresh='refresh()'>
    </ion-refresher>
    <img class='img-responsive' src='img/header.png' />
    <div class='list'>
      <div class='item item-stable text-right' ng-click='toggleSort()' ng-class="{active: sortToggle }">
        Sort <i class='ion-ios-plus-outline' ng-if='!sortToggle'></i><i class='ion-ios-minus-outline' ng-if='sortToggle'></i>
      </div>
      <div class="item-accordion" ng-show="sortToggle">
          <div class='item item-toggle'>
            Distance
            <label class='toggle'>
              <input type='radio' ng-model='sortOption' value='distance' >
              <div class='track'>
                <div class='handle'></div>
              </div>
            </label>
          </div>
          <div class='item item-toggle'>
            Price
            <label class='toggle'>
              <input type='radio' ng-model='sortOption' value='reg_price'>
              <div class='track'>
                <div class='handle'></div>
              </div>
            </label>
          </div>
        </div>  
      </div>
      <div class='card' ng-repeat='station in stations | orderBy: sortOption track by $index'>
        <div class='item item-thumbnail-left' ng-click='openDirections(station)'>
          <img ng-src='{{ getImage(station.station) }}' ng-error-src="{{ getImage('unbranded') }}" />
          <h2>{{ station.station }}</h2>
          <p>Distance: {{ station.distance }}</p>
          <p>Regular: {{ station.reg_price }}</p>
          <p>Mid: {{station.mid_price }}</p>
          <p>Premium: {{ station.pre_price }}</p>
          <p>Diesel: {{ station.diesel_price }}</p>
          <div class='text-right'>
            <button class='button button-small button-clear button-positive' ng-click='edit(station); $event.stopPropagation();'>[edit]</button>
          </div>
        </div>
      </div>
    </div>  
  </ion-content>
</ion-view>
