<ion-view view-title='Contact'>
  <ion-content>
    <div class='list'>
      <label class='item item-input item-stacked-label'>
        <span class='input-label'>Email</span>
        <input type='email' required ng-model='contact.email' placeholder='Email'>
      </label>
      <label class='item item-input item-select'>
        <div class='input-label'>
          Subject
        </div>
        <select ng-model='contact.subject' required>
          <option>Feature Request</option>
          <option>Bug Report</option>
          <option>General</option>
        </select>
      </label>
      <label class='item item-input item-stacked-label'>
        <span class='input-label'>Message</span>
        <textarea required ng-model='contact.message' placeholder='Message'></textarea>
      </label>

      <button class='button button-block button-positive' ng-click='submitContact()'>Contact</button>
    </div>
  </ion-content>
</ion-view>
