<ion-view view-title='Privacy'>
  <ion-content>
    <div class='card'>
      <h2>Privacy Policy</h2>
      <div class='card'>
        <div class='item item-divider'>
          <h2>Types of Data collected</h2>
        </div>
        <div class='item item-text-wrap'>
          <p>
          Among the types of Personal Data that this Application collects, by itself or through third parties, there are:
          Email address, Username, Password and Geographic position.
          </p><br />
          <p>Other Personal Data collected may be described in other sections of this privacy policy or by dedicated explanation text contextually with the Data collection.<br>The Personal Data may be freely provided by the User, or collected automatically when using this Application.<br>Any use of Cookies - or of other tracking tools - by this Application or by the owners of third party services used by this Application, unless stated otherwise, serves to identify Users and remember their preferences, for the sole purpose of providing the service required by the User.<br>Failure to provide certain Personal Data may make it impossible for this Application to provide its services.</p><br />
          <p>Users are responsible for any Personal Data of third parties obtained, published or shared through this Application and confirm that they have the third party's consent to provide the Data to the Owner.</p>
        </div>
      </div>
      <div class='card'>
        <div class='item item-divider'>
          <h2>Mode and place of processing the Data</h2>
        </div>
        <div class='item item-text-wrap'>
          <h3>Methods of processing</h3>
          <p>The Data Controller processes the Data of Users in a proper manner and shall take appropriate security measures to prevent unauthorized access, disclosure, modification, or unauthorized destruction of the Data.<br>The Data processing is carried out using computers and/or IT enabled tools, following organizational procedures and modes strictly related to the purposes indicated. In addition to the Data Controller, in some cases, the Data may be accessible to certain types of persons in charge, involved with the operation of the site (administration, sales, marketing, legal, system administration) or external parties (such as third party technical service providers, mail carriers, hosting providers, IT companies, communications agencies) appointed, if necessary, as Data Processors by the Owner. The updated list of these parties may be requested from the Data Controller at any time.</p><br />
          <h3>Place</h3>
          <p>The Data is processed at the Data Controller's operating offices and in any other places where the parties involved with the processing are located. For further information, please contact the Data Controller.</p><br />
          <h3>Retention time</h3>
          <p>The Data is kept for the time necessary to provide the service requested by the User, or stated by the purposes outlined in this document, and the User can always request that the Data Controller suspend or remove the data.</p>
        </div>
      </div>
      <div class='card'>
        <div class='item item-divider'>
          <h2>The use of the collected Data</h2>
        </div>
        <div class='item item-text-wrap'>
          <p>
          The Data concerning the User is collected to allow the Owner to provide its services, as well as for the following purposes:
          Contacting the User, Registration and authentication and Location-based interactions.
          </p><br />
          <p>The Personal Data used for each purpose is outlined in the specific sections of this document.</p>
        </div>
      </div>
      <div class='card'>
        <div class='item item-divider'>
          <h2>Detailed information on the processing of Personal Data</h2>
        </div>
        <div class='item item-text-wrap'>
          <h3>Personal Data is collected for the following purposes using the following services.</h3>
        </div>
      </div>
      <div class='card'>
        <div class='item item-divider'>
          <h2>Contacting the User</h2>
        </div>
        <div class='item item-text-wrap'>
          <h3>Contact form (This Application)</h3>
          <p>By filling in the contact form with their Data, the User authorizes this Application to use these details to reply to requests for information, quotes or any other kind of request as indicated by the form’s header.</p><br />
          <p>
          Personal Data collected:
          Email address.
          </p><br />
          <h3>Mailing List or Newsletter (This Application)</h3>
          <p>By registering on the mailing list or for the newsletter, the User’s email address will be added to the contact list of those who may receive email messages containing information of commercial or promotional nature concerning this Application. Your email address might also be added to this list as a result of signing up to this Application or after making a purchase.</p><br />
          <p>
          Personal Data collected:
          Email address.
          </p>
        </div>
      </div>
      <div class='card'>
        <div class='item item-divider'>
          <h2>Registration and authentication</h2>
        </div>
        <div class='item item-text-wrap'>
          <p>By registering or authenticating, Users allow this Application to identify them and give them access to dedicated services.<br>
          Depending on what is described below, third parties may provide registration and authentication services.<br>
          In this case, this Application will be able to access some Data, stored by these third party services, for registration or identification purposes.</p><br />
          <h3>Direct registration (This Application)</h3>
          <p>The User registers by filling out the registration form and providing the Personal Data directly to this Application.</p><br />
          <p>
          Personal Data collected:
          Email address, Password and Username.
          </p>
        </div>
      </div>
      <div class='card'>
        <div class='item item-divider'>
          <h2>User Profile</h2>
        </div>
        <div class='item item-text-wrap'>
          <p>Users are given the ability to input personal data for their profile. The user profile is private to the user, as well as the Application and its service as described in this policy. As part of the Application's services, third parties may be presented User data to present information accurately and precisely within the application.</p><br />
          <p>
          Personal Data collected:
          Email address, Password and Username, Car Info, Preferences, Phone Number, Name, Address
          </p>
        </div>
      </div>
      <div class='card'>
        <div class='item item-divider'>
          <h2>Location-based interactions</h2>
        </div>
        <div class='item item-text-wrap'>
          <h3>Geolocation (This Application)</h3>
          <p>This Application may collect, use, and share User location Data in order to provide location-based services.<br>
          Most browsers and devices provide tools to opt out from this feature by default. If explicit authorization has been provided, the User’s location data may be tracked by this Application.</p><br />
          <p>
          Personal Data collected:
          Geographic position.
          </p>
        </div>
      </div>
      <div class='card'>
        <div class='item item-divider'>
          <h2>Advertisements</h2>
        </div>
        <div class='item item-text-wrap'>
          <h3>Admob</h3>
          <p>
            The Application serves advertisments to the User via the Google Platform known as "Admob". Third parties may be using cookies, web beacons, and other technologies to collect information as a result of ad serving through User’s Mobile Properties.
          </p>
        </div>
      </div>
      <div class='card'>
        <div class='item item-divider'>
          <h2>Additional information about Data collection and processing</h2>
        </div>
        <div class='item item-text-wrap'>
          <h3>Legal action</h3>
          <p>
          The User's Personal Data may be used for legal purposes by the Data Controller, in Court or in the stages leading to possible legal action arising from improper use of this Application or the related services.<br>The User declares to be aware that the Data Controller may be required to reveal personal data upon request of public authorities.
          </p><br />
          <h3>Additional information about User's Personal Data</h3>
          <p>
          In addition to the information contained in this privacy policy, this Application may provide the User with additional and contextual information concerning particular services or the collection and processing of Personal Data upon request.
          </p><br />
          <h3>System Logs and Maintenance</h3>
          <p>
          For operation and maintenance purposes, this Application and any third party services may collect files that record interaction with this Application (System Logs) or use for this purpose other Personal Data (such as IP Address).
          </p><br />
          <h3>Information not contained in this policy</h3>
          <p>
          More details concerning the collection or processing of Personal Data may be requested from the Data Controller at any time. Please see the contact information at the beginning of this document.
          </p><br />
          <h3>The rights of Users</h3>
          <p>
          Users have the right, at any time, to know whether their Personal Data has been stored and can consult the Data Controller to learn about their contents and origin, to verify their accuracy or to ask for them to be supplemented, cancelled, updated or corrected, or for their transformation into anonymous format or to block any data held in violation of the law, as well as to oppose their treatment for any and all legitimate reasons. Requests should be sent to the Data Controller at the contact information set out above.
          </p><br />
          <p>
          This Application does not support “Do Not Track” requests.<br>To determine whether any of the third party services it uses honor the “Do Not Track” requests, please read their privacy policies.
          </p>
          <h3>Changes to this privacy policy</h3>
          <p>
          The Data Controller reserves the right to make changes to this privacy policy at any time by giving notice to its Users on this page. It is strongly recommended to check this page often, referring to the date of the last modification listed at the bottom. If a User objects to any of the changes to the Policy, the User must cease using this Application and can request that the Data Controller removes the Personal Data. Unless stated otherwise, the then-current privacy policy applies to all Personal Data the Data Controller has about Users.
          </p><br />
          <h3>Policy Questions?</h3>
          <p>
            If at any tim ethe User has a question about this policy, the User may contact the Data Controller through the Application's Contact section. Just choose general for the subject, provide your email (or if signed in, will used email on hand), and a brief description of your inquiry.
          </p>
      </div>
      <div class='card'>
        <div class='item item-divider'>
          <h2>Definitions and legal references</h2>
        </div>
        <div class='item item-text-wrap'>
          <h3>Personal Data (or Data)</h3>
          <p>Any information regarding a natural person, a legal person, an institution or an association, which is, or can be, identified, even indirectly, by reference to any other information, including a personal identification number.</p><br />
          <h3>Usage Data</h3>
          <p>Information collected automatically from this Application (or third party services employed in this Application), which can include: the IP addresses or domain names of the computers utilized by the Users who use this Application, the URI addresses (Uniform Resource Identifier), the time of the request, the method utilized to submit the request to the server, the size of the file received in response, the numerical code indicating the status of the server's answer (successful outcome, error, etc.), the country of origin, the features of the browser and the operating system utilized by the User, the various time details per visit (e.g., the time spent on each page within the Application) and the details about the path followed within the Application with special reference to the sequence of pages visited, and other parameters about the device operating system and/or the User's IT environment.</p><br />
          <h3>User</h3>
          <p>The individual using this Application, which must coincide with or be authorized by the Data Subject, to whom the Personal Data refer.</p><br />
          <h3>Data Subject</h3>
          <p>The legal or natural person to whom the Personal Data refers.</p><br />
          <h3>Data Processor (or Data Supervisor)</h3>
          <p>The natural person, legal person, public administration or any other body, association or organization authorized by the Data Controller to process the Personal Data in compliance with this privacy policy.</p><br />
          <h3>Data Controller (or Owner)</h3>
          <p>The natural person, legal person, public administration or any other body, association or organization with the right, also jointly with another Data Controller, to make decisions regarding the purposes, and the methods of processing of Personal Data and the means used, including the security measures concerning the operation and use of this Application. The Data Controller, unless otherwise specified, is the Owner of this Application.</p><br />
          <h3>This Application</h3>
          <p>The hardware or software tool by which the Personal Data of the User is collected.</p><br />
          <hr>
          <h3>Legal information</h3>
          <p>Notice to European Users: this privacy statement has been prepared in fulfillment of the obligations under Art. 10 of EC Directive n. 95/46/EC, and under the provisions of Directive 2002/58/EC, as revised by Directive 2009/136/EC, on the subject of Cookies.</p><br />
          <p>This privacy policy relates solely to this Application.</p>
        </div>
      </div>
      <div class='item item-divider'>
        <h6>&#169; 2013-2015 Frostware Technical Solutions, LLC All Rights Reserved</h6>
      </div>
    </div>
  </ion-content>
</ion-view>
