<ion-view view-title='Security'>
  <ion-content>
    <div class='card'>
      <h2>Security Policy</h2>
      <div class='card'>
        <div class='item item-text-wrap'>
          <p>It is Fuelergy’s and Frostware’s main goal to make the User feel comfortable within the Application. This includes functionality, usability, accessibility, availability, and very importantly Security. The User should feel comfortable that there are no known vulnerabilities to their sensitive data, and interactions within the application. This policy directs and notifies the User and security measures and prevention from within the Application.</p>
        </div>
      </div>
      <div class='card'>
        <div class='item item-divider'>
          <h2>Encrypted Sensitive Data</h2>
        </div>
        <div class='item item-text-wrap'>
          <p>All data that is deemed sensitive by the Application is secured using the latest cryptography methods. These cryptography measures can be requested by the User at any time. No sensitive data will be stored as entered. Only encrypted sensitive data will be stored to enhance confidentiality and integrity of the Application.</p><br />

          <p>Sensitive Data: Password</p>
        </div>
      </div>
      <div class='card'>
        <div class='item item-divider'>
          <h2>Data Security</h2>
        </div>
        <div class='item item-text-wrap'>
          <p>Along with out secure data handling, which includes privatizing and encryption data, our databases are secured and provision by Mongolab. Their security policies and administration can be found here: http://docs.mongolab.com/security</p>
        </div>
      </div>
      <div class='card'>
        <div class='item item-divider'>
          <h2>Network Security</h2>
        </div>
        <div class='item item-text-wrap'>
          <p>Our servers are provisioned and maintained by Heroku. You can find server and network security measures devoted by Heroku found here: https://www.heroku.com/policy/security</p>
        </div>
      </div>
      <div class='card'>
        <div class='item item-divider'>
          <h2>Secure Physical Location</h2>
        </div>
        <div class='item item-text-wrap'>
          <p>Our servers are provisioned by Heroku and Mongolab which host within Amazon’s AWS data centers. You can find a portion of their site designed to explain their security measures. http://aws.amazon.com/compliance</p>
        </div>
      </div>
      <div class='card'>
        <div class='item item-divider'>
          <h2>Extensive Authentication and Authorization</h2>
        </div>
        <div class='item item-text-wrap'>
          <p>The Application goes through extensive authentication and authorization tools to make sure that Users are authenticated, but also authorized in the actions they are taking within the Application. Fuelergy at all times will be confident in who the User is, and what they are allowed to do. All Application actions are logged, authenticated, and authorized so that the User is comfortable that they know their data is secure, confidential, availability and held with high integrity.</p>
        </div>
      </div>
      <div class='card'>
        <div class='item item-divider'>
          <h2>Experienced Team</h2>
        </div>
        <div class='item item-text-wrap'>
          <p>Our engineering team is a trusted group of individuals who have dealt with securing and handling extremely sensitive information and serving up usable application with high integrity. Our group continues to employe these standards within the Application and Frostware network. Our operations and assurance teams are dedicated individuals that support our network partnershps, including Heroku and Mongolab, to keep our integration compliant with our security policy and security standards.</p>
        </div>
      </div>
      <div class='card'>
        <div class='item item-divider'>
          <h2>Definitions and Terms</h2>
        </div>
        <div class='item item-text-wrap'>
          <h3>User</h3>
          <p>The consumer, customer, data owner, and user of the Fuelergy Mobile Application.</p><br />

          <h3>Application</h3>
          <p>The provider, data controller and Fuelergy Mobile Application.</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
