<ion-view view-title='Support'>
  <ion-content>
      <div class='item item-divider'>
        Using Fuelergy
      </div>
      <div class='item item-stable'>
        Finding Gas Stations
      </div>
      <div class='item item-accordion'>
        <div class='video-container'>
          <iframe width="420" height="315" src="https://www.youtube.com/embed/lhVxxanb5RU" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class='item item-stable'>
        Creating a Profile
      </div>
      <div class='item item-accordion'>
        <div class='video-container'>
          <iframe width="420" height="315" src="https://www.youtube.com/embed/lhVxxanb5RU" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class='item item-stable'>
        Logging In
      </div>
      <div class='item item-accordion'>
        <div class='video-container'>
          <iframe width="420" height="315" src="https://www.youtube.com/embed/lhVxxanb5RU" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class='item item-stable'>
        Logging Out
      </div>
      <div class='item item-accordion'>
        <div class='video-container'>
          <iframe width="420" height="315" src="https://www.youtube.com/embed/lhVxxanb5RU" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class='item item-stable'>
        Editing Profile
      </div>
      <div class='item item-accordion'>
        <div class='video-container'>
          <iframe width="420" height="315" src="https://www.youtube.com/embed/lhVxxanb5RU" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class='item item-divider'>
        Useful Resources
      </div>
      <div class='item item-divider'>
        Other
      </div>
    </div>
  </ion-content>
</ion-view>
